@import "components/color.scss";
@import "components/variables";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: color("grey", "lighten-5");

  .nav-wrapper {
    padding: 0 2vw;
  }

  .primary-color-text {
    color: $primary-color;
  }

  .primary-color-dark-text {
    color: $primary-color-dark;
  }

  .primary-color-light-text {
    color: $primary-color-light;
  }

  .book-card {

    form {
      display: inline-block;
    }

    .card-image {
      width: 30%;
    }
  }

  .side-nav {
    background-color: $primary-color;

    a {
      color: white;
    }
  }
}


@media #{$medium-and-up} {
  .book-card {
    height: 300px;

    .card-image {
      height: inherit;
      width: 30%;

      img {
        height: inherit;
      }
    }
  }
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: $secondary-color;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid $secondary-color;
  box-shadow: none;
}