{% extends 'books/base.html' %}
{% load books widget_tweaks %}


{% block content %}
	<div class="section">
		<form method="post">
			{% csrf_token %}
			<div class="row">
	      <div class="input-field col s10 offset-s1 l6 offset-l3 xl4 offset-xl4">
		      {% render_field form.comment class+='materialize-textarea validate' data-length=form.comment.field.max_length %}
	        <label for="{{ form.comment.name }}">{{ form.comment.label }}</label>
	      </div>
	    </div>

      <button type='submit' class='btn waves-effect waves-light z-depth-1'>Save</button>
		</form>
	</div>
{% endblock %}