{% extends 'libraries/base.html' %}


{% block content %}
	<div id="book-search" class="section">
		<div class="row valign-wrapper">
			<div class="col s9">
	      <div class="input-field">
	        <input id="search" type="search" placeholder="Search in this library" required>
	        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
	      </div>
			</div>
			<div class="col s3">
				<a href="{% url 'book_copy_create' library_pk %}" class="waves-effect waves-light btn"><i class="material-icons left">library_add</i>Add book</a>
			</div>
		</div>
	</div>
	<div id="books" class="section">
		{% for copy in book_copies %}
			<div class="row">
				<div class="col s12 xl8 offset-xl2">
					<div class="card horizontal book-card z-depth-1">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator z-depth-2" src="{{ copy.book.cover.url }}">
				    </div>
				    <div class="card-stacked">
					    <div class="card-content">
			          <span class="card-title grey-text text-darken-4">
						      {{ copy.book.title }}
					      </span>
					      <p>Author: {{ copy.book.author }}</p>
			        </div>
			        <div class="card-action">
				        <span>{{ copy.book.description | truncatewords:20}}</span>
				        <div>
					        <a class="btn-floating activator btn waves-effect waves-light"><i class="material-icons z-depth-2">description</i></a>
				        </div>
			        </div>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">{{ copy.book.title }}<i class="material-icons right">close</i></span>
					    <p>Author: {{ copy.book.author }}</p>
				      <p>{{ copy.book.description }}</p>
				    </div>
						{% if copy.book.ebook_link %}
							<p>Ebook available on:</p>
							<a href="{{ copy.book.ebook_link }}">Google Books</a>
						{% endif %}
				  </div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}