{% extends 'books/base.html' %}
{% load books widget_tweaks %}


{% block content %}
	<div class="section">
		<div class="row">
			<h4>Where do you want to lend to?</h4>
		</div>

		<div class="row">
			<div class="col s12 xl8 offset-xl2">
				{% render_book_copy book_copy user only_description=True %}
			</div>
		</div>

		<div class="row">
			<div class="col s12 l10 offset-l1 xl8 offset-xl2">
				<form class="form" action="" method="post">
					{% csrf_token %}
					{{ form.borrower }}
					<div class="row">
						<button type="submit" class="btn-large">Lend</button>
					</div>
				</form>
			</div>
		</div>
	</div>


{% endblock %}