{% extends 'books/base.html' %}
{% load books widget_tweaks %}


{% block content %}
	<div class="section">
		<div class="row">
			<h4>Do you want to borrow this book from outside the system?</h4>
		</div>

		{% render_book_copy book_copy user only_description=True %}

		<div class="row">
			<div class="section">
				<form method="post" action="{% url 'book_copy_delete' library.pk book_copy.pk %}" class="col s6 m2 offset-m4">
					{% csrf_token %}
					<button type="submit" class="btn-floating btn-large waves-effect waves-light red z-depth-1"><i class="material-icons">not_interested</i></button>
				</form>
				<form method="post" class="col s6 m2">
					{% csrf_token %}
					<button type="submit" class="btn-floating btn-large waves-effect waves-light green z-depth-1"><i class="material-icons">done</i></button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}