{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home Library{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/materialize.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <div class="navbar-fixed">
      {% if user.is_authenticated %}
	      <ul id="libraries-dropdown" class="dropdown-content">
	        <li><a href="{% url 'library_details' user.userprofile.home_library.pk %}">Your library</a></li>
		      <li><a href="{% url 'library_list' user.userprofile.home_library.pk %}">All libraries</a></li>
	      </ul>
      {% endif %}
		  <nav>
		    <div class="nav-wrapper z-depth-1">
		      <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons left">library_books</i>Home Library</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
			      {% if user.is_authenticated %}
              <li><a href="{% url 'book_copy_create' user.userprofile.home_library.pk %}">Add Book</a></li>
	            <li><a class="dropdown-button" data-activates="libraries-dropdown">Library<i class="material-icons right">arrow_drop_down</i></a></li>
				      <li><a href="{% url 'library_management' user.userprofile.home_library.pk %}">Manage</a></li>
							<li><a href="{% url 'logout' %}" class="waves-effect waves-light btn z-depth-2">Log out</a></li>
			      {% else %}
			        <li><a href="{% url 'sign_up' %}" class="waves-effect waves-light btn z-depth-2">Sign up</a></li>
				      <li>Already have an account?</li>
			        <li><a href="{% url 'login' %}" class="waves-effect waves-light btn z-depth-2">Log in</a></li>
			      {% endif %}
		      </ul>
		    </div>
		  </nav>
    </div>
    <div class="container center-align">
      {% block content %}{% endblock %}
    </div>
  </body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script>
		{% for message in messages %}
	    Materialize.toast("{{ message }}", 4000);
    {% endfor %}
	</script>
	{% block scripts %}{% endblock %}
</html>