{% extends 'books/tags/book_prototype_tag.html' %}


{% block card_actions %}
	{% if not only_description %}
		{% if is_owner %}
	    <a href="{% url 'book_copy_delete' library id %}" class="btn-floating btn waves-effect waves-light red"><i class="material-icons z-depth-2">delete</i></a>
		{% endif %}
	{% endif %}

	{{ block.super }}

	{% if not only_description %}
		{% if is_owner %}
		  <a href="{% url 'book_copy_comment' library id %}" class="btn-floating btn waves-effect waves-light"><i class="material-icons z-depth-2">comment</i></a>
			{% if not lending %}
				<a href="{% url 'lending_create' library id %}" class="btn-floating btn waves-effect waves-light green"><i class="material-icons z-depth-2">assignment_ind</i></a>
			{% else %}
				<a href="{% url 'lending_create' library id %}" class="btn-floating btn waves-effect waves-light red"><i class="material-icons z-depth-2">assignment_ind</i></a>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block comment %}
  {% if comment %}
    {{ comment }}
  {% else %}
	  {{ block.super }}
  {% endif %}
	{% if lending %}
		<h5>
			{% if lent %}
				Lent to
			{% elif borrowed %}
				Borrowed from
			{% endif %}
			<b>
				{% if lent %}
					{{ borrower }}
				{% elif borrowed %}
					{{ lender }}
				{% endif %}
			</b>
		</h5>
	{% endif %}
{% endblock %}

{% block card_classes %}
	{% if lending %}
		{% if lent %}
			grey lighten-3
		{% elif borrowed %}
			green lighten-3
		{% endif %}
	{% endif %}
{% endblock %}