<div class="card horizontal book-card z-depth-1{% block card_classes %}{% endblock %}">
	{% if cover %}
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator z-depth-2" src="{{ cover.url }}">
  </div>
	{% endif %}
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">
	      {{ title }}
      </span>
      <p>Author: {{ author }}</p>
    </div>
    <div class="card-action">
      <div class="row {% if not comment %}waves-effect activator{% endif %}">
	      {% block comment %}
          {{ description | truncatewords:20}}
	      {% endblock %}
      </div>
      <div>
        {% block card_actions %}
	        {% if not clean %}
	          <a
			          class="btn-floating activator btn waves-effect waves-light tooltipped"
			          data-tooltip="Show description"
	          >
		          <i class="material-icons z-depth-2">description</i>
	          </a>
	        {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{ title }}<i class="material-icons right">close</i></span>
    <p>Author: {{ author }}</p>
    <p>{{ description }}</p>
  </div>
</div>
