{% extends 'base.html' %}
{% load static books %}


{% block content %}
	<br>
	<div class="row valign-wrapper">
		<div class="col s12 l7 z-depth-1">
			<h5>Currently reading</h5>
			{% if currently_read_books %}
				<div class="carousel carousel-slider center">
			    {% for book in currently_read_books %}
				    <div class="carousel-item center">
					    {% render_book_copy book.copy user clean=True %}
				    </div>
			    {% endfor %}
			  </div>
				<br>
			{% else %}
				<div class="card">
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">
								You're not reading any book
							</span>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="col s12 l4 offset-l1 z-depth-1">
			<h5>Last read</h5>
			<div class="card">
				<div class="card-stacked">
					<div class="card-content">
						{% if last_read_book %}
							<span class="card-title">
								{{ last_read_book.copy.book.title }}
							</span>
							<p>{{ last_read_book.copy.book.author }}</p>
							<p>Finished on: {{ last_read_book.end_date | date:"d.m.Y" }}</p>
							<p>in {{ last_read_book.start_date | timesince:last_read_book.end_date }}</p>
						{% else %}
							<span class="card-title">
								You haven't finished any book yet
							</span>
						{% endif %}
					</div>
				</div>
			</div>
			<h5>Statistics</h5>
			<div class="card">
				<div class="card-stacked">
					<div class="card-content">
						<p>Average number of books per month: <b>{{ books_per_month }}</b></p>
						<p>Average number of pages per day: <b>{{ pages_per_day }}</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'js/home_library/main.js' %}"></script>
{% endblock %}